<div class="recipe">
  <p class="back" (click)="goBack()">
    Назад
  </p>
  <section *ngIf="card && !isLoadingActive">
    <div class="main">
      <div class="main__header">
        <h2 class="title">{{ recipeDetails?.title }}</h2>
        <div class="сontrol-buttons" *ngIf="isShowControlButtons">
          <button mat-stroked-button class="stroked-button" (click)="onDeleteRecipe()">
            <div class="basket-icon"></div>
          </button>
          <button mat-flat-button color="accent" class="button" (click)="openEditPage()">
            <div class="edit-icon"></div>
            <span>Редактировать</span>
          </button>
        </div>
      </div>
      <app-dish-card 
        [card]="card" 
        [onOpenDishCard]="openCard"
        [onLikeClick]="onLikeClick"
        [onStarClick]="onStarClick"
      ></app-dish-card>
    </div>
    <div class="details">
      <div *ngIf="recipeDetails?.ingredients.length !== 0" class="ingredients">
        <h2 class="ingredients-title">Ингридиенты</h2>
        <div *ngFor="let ingredient of recipeDetails?.ingredients" class="ingredient-group">
          <h3 class="ingredient-group__title">{{ ingredient.title }}</h3>
          <p *ngFor="let ingredient of ingredient.value" class="ingredient">{{ ingredient }}</p>
        </div>
      </div>
      <div class="steps">
        <app-step-card *ngFor="let step of recipeDetails?.steps" [card]="step" class="step"></app-step-card>
        <p class="wish">Приятного аппетита!</p>
      </div>
    </div>
  </section>

  <section>
    <app-loader *ngIf="isLoadingActive"></app-loader>
    <div *ngIf="!recipeDetails && !isLoadingActive" class="server-error">
      <p class="text-error">Кажется что-то пошло не так, но мы уже работаем над этим!</p>
      <button mat-stroked-button color="accent" class="stroked-button try-again__button" (click)="loadRecipe()">
        <span>Повторить попытку</span>
      </button>
    </div>
  </section>
</div>
