/***** MAIN *****/
.main {
  width: 85%;
  max-width: 1200px;
  margin: 30px auto 0;
}

.main-image {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 38%;
  min-height: 500px;
}

.main-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
}


/***** INTRODUCTION *****/
.introduction {
  position: relative;
  z-index: 2;
}

.introduction-title {
  max-width: 700px;
  margin: 128px 0 0 0;
  font: normal bold 72px/88px 'Montserrat', sans-serif;
  color: #25292D;
}

.introduction-description {
  max-width: 500px;
  margin-top: 16px;
  font: normal normal 18px/28px 'Montserrat', sans-serif;
  color: #4A525A;
}

.introduction-buttons {
  margin-top: 42px;
}

.button {
  padding: 12px 37px;
  border-radius: 16px;
  background: #fdb100;
}

.stroked-button {
  margin-left: 24px;
  padding: 12px 78px;
  background: #fff;
}

.plus {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 23px;
  background: url('/assets/images/plus.svg');
}

.button span {
  font: normal 600 18px/28px 'Montserrat', sans-serif;
  color: #fff;
}

.stroked-button span {
  color: #fdb100;
}


/***** ADVANTAGES *****/

.advantages-title {
  margin: 350px 0 0 0;
  font: normal bold 42px/62px 'Montserrat', sans-serif;
  color: #25292D;
}

.advantages-description {
  max-width: 700px;
  font: normal normal 18px/32px 'Montserrat', sans-serif;
}

.advantages-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.advantages-card {
  display: flex;
  align-items: stretch;
  flex: 1 1 0;
  max-width: 275px;
}


/***** DYNAMIC-CONTENT *****/

.dynamic-content {
  margin-top: 160px;
}


/***** SEARCH *****/

.search {
  margin-top: 150px;
}

.search-title {
  margin: 0;
  font: normal bold 42px/51px 'Montserrat', sans-serif;
  text-align: center;  
  color: #25292D;
}

.search-description {
  margin-top: 16px;
  font: normal normal 18px/32px 'Milish', sans-serif;
  text-align: center;
  color: #4A525A;
}

.form {
  max-width: 885px;
  margin: 64px auto 0;
}

.form-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.form-input {
  flex: 1 1 0;
  padding: 26px 0 26px 32px;
  background: #FFFFFF;
  font: normal normal 18px/22px 'Montserrat', sans-serif;
  text-transform: capitalize;
  color: rgba(37, 41, 45, 0.5);
  box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
  border: 0;
  border-radius: 16px;
  outline: none;
}

.form-button {
  margin-left: 16px;
  padding: 18px 45px 14px;
  font: normal 600 18px/22px 'Montserrat', sans-serif;
  text-align: center;
  color: #FFFFFF;
  background: #FDB100;
  border-radius: 16px;
}

.form-hints {
  display: flex;
  align-items: center;
}

.hint {
  margin: 24px 15px 0 0;
  font: normal normal 16px/18px 'Montserrat', sans-serif;
  color: #808080;
  cursor: pointer;
}