<mat-card class="card" (click)="onCardButtonClick()">
  <div class="card-image">
    <div *ngIf="card?.image;then image else defoltImage"></div>
    <ng-template #image>  
      <img mat-card-image src="{{ card?.image }}" alt="{{ card?.title }}">    
    </ng-template>  
    <ng-template #defoltImage>  
      <img src="./assets/images/logo.svg" class="default-image" alt="{{ card?.title }}"> 
    </ng-template>
    <div class="card-author" title="{{ card?.author }}">
      <p class="author">@{{ card?.author }}</p>
    </div>
  </div>
  <div class="card-content">
    <div class="card-header">
      <div class="keywords">
        <div class="keyword" *ngFor="let keyword of card?.keywords" title="{{ keyword }}">
          <p class="keyword-text">{{ keyword }}</p>
        </div>
      </div>
      <div class="rating">
        <div class="rating__item" (click)="onStarButtonClick($event)">
          <div class="star-icon" [class.star-icon_active]="card?.isStarSet"></div>
          <div class="value">{{ card?.starsCount }}</div>
        </div>
        <div class="rating__item" (click)="onLikeButtonClick($event)">
          <div class="like-icon" [class.like-icon_active]="card?.isLikeSet"></div>
          <div class="value">{{ card?.likesCount }}</div>
        </div>
      </div>
    </div>
    <mat-card-title class="card-title">{{ card?.title }}</mat-card-title>
    <mat-card-content class="card-description">{{ card?.description }}</mat-card-content>
    <div class="card-additional">
      <div class="additional__item">
        <div class="big-timer-icon"></div>
        <div class="additional-item__content">
          <p class="additional-item__title">Время приготовления:</p>
          <p class="additional-item__value">{{ card?.time }}</p>
        </div>
      </div>
      <div class="additional__item">
        <div class="group-people-icon"></div>
        <div class="additional-item__content">
          <p class="additional-item__title">Рецепт на:</p>
          <p class="additional-item__value">{{ card?.personsCount }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-card>