<header class="header">
  <div class="header__logo">
    <a routerLink="/">
      <img src="./assets/images/logo.svg" alt="logo">
    </a>
  </div>
  <nav class="header__navigation">
    <mat-nav-list class="navigation" *ngFor="let link of links">
      <a 
        mat-list-item routerLink="/{{ link.link }}"
        class="navigation__link"  
        [class.navigation__link_active]="isLinkActive(link.link)"
      >
        {{ link.title }}
      </a>
    </mat-nav-list>
  </nav>
  <div class="header__account">
    <div class="account__links" *ngFor="let accountButton of accountButtons">
      <a href="/" class="account__link" (click)="accountButton.onAction($event)">
        <div class="account-image">
          <img src="./assets/images/{{ accountButton.icon }}">
        </div>
        <div class="account-text" title="{{ accountButton.title }}">{{ accountButton.title }}</div>
      </a>
    </div>
  </div>
</header>