.card {
  display: flex;
  padding: 0;
  margin: 0;
  box-shadow: none;
  background: transparent;
}

.card-image {
  width: 543px;
  border-radius: 72px 0;
  overflow: hidden;
}

.card-image img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}

.card-content {
  flex: 1 1 0;
  margin-left: 70px;
}

.additional-info {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.additional-info__item {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.like-icon {
  width: 20px;
  height: 19px;
  background: url('./../../../assets/images/heart.svg');
}

.timer-icon {
  width: 18px;
  height: 21px;
  background: url('./../../../assets/images/timer.svg');
}

.value {
  margin-left: 10px;
  font: normal normal 16px/28px 'Montserrat', sans-serif;
  color: #25292D;
}

.card-icon {
  margin: 23px 0 0;
}

.card-title {
  display: -webkit-box;
  margin: 32px 0 0 0 !important;
  font: normal bold 42px/60px 'Montserrat', sans-serif;
  text-transform: capitalize;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  color: #25292D;
}

.card-description {
  display: -webkit-box;
  margin-top: 16px;
  font: normal normal 18px/32px 'Montserrat', sans-serif;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  color: #4A525A;
}