.error__text {
  max-width: 450px;
  margin: 10px auto 0;
  font: normal bold 24px/30px 'Montserrat', sans-serif;
  text-align: center;
  color: #808080;
}

.error__button {
  display: flex;
  margin: 25px auto 0;
  padding: 12px 78px;
  border: 1px solid #808080;
  border-radius: 16px;
  background: #fff;
}

.error__button span {
  font: normal 600 18px/22px 'Montserrat', sans-serif;
  color: #808080;
}

.error__image {
  display: flex;
  margin: 0 auto;
}
