<div class="recipes">
  <section class="recipes-block">
    <h2 class="recipes-block__title">Рецепты</h2>
    <button mat-flat-button color="accent" class="button" (click)="onAddRecipe()">
      <span class="plus"></span>
      <span>Добавить рецепт</span>
    </button>
  </section>

  <section class="advantages">
    <app-simple-card class="advantages-card" *ngFor="let card of cards" [card]="card" (click)="searchByHint(card.title)" ></app-simple-card>
  </section>

  <section class="search">
    <div class="search__form">
      <p class="form-title">Поиск рецепта</p>
      <form class="form">
        <div class="form-content">
          <input 
            type="text" 
            placeholder="Название блюда..."
            name="searchDishes"
            [(ngModel)]="searchDishes"
            class="form-input" 
            autocomplete="off" />
          <button mat-raised-button color="accent" class="form-button" (click)="changeQuery()">
            <span>Поиск</span>
          </button>
        </div>
        <div class="form-tags">
          <span *ngFor="let tag of dishTags" class="tag" (click)="searchByHint(tag)">{{ tag }}</span>
        </div>
      </form>
    </div>
    <div class="search__results">
      <app-dish-card 
        *ngFor="let card of dishCards" 
        [card]="card" 
        [onOpenDishCard]="openRecipes.bind(this)"
        [onLikeClick]="onLikeClick"
        [onStarClick]="onStarClick"
      ></app-dish-card>
      <app-loader *ngIf="!isError && isLoadingActive"></app-loader>
      <p *ngIf="dishCards && dishCards.length === 0 && !isLoadingActive" class="text-error">Оооопс.... Ничего не найдено</p>
      <app-error-block *ngIf="isError && !isLoadingActive" [error]="error" (onTryAgainClick)="updateRecipes('get')"></app-error-block>
      <div *ngIf="isButtonActive">
        <button mat-stroked-button color="accent" class="stroked-button" (click)="updateRecipes('update')">
          <span>Загрузить ещё</span>
        </button>
      </div>
    </div>
  </section>
</div>