<div class="not-found">
  <video autoplay muted loop preload="auto" class="video" playsinline onloadedmetadata="this.muted = true" poster="/assets/images/poster.png">
    <source src="/assets/videos/not-found-video.webm" type="video/webm" />
    <source src="/assets/videos/not-found-video.mp4" type="video/mp4" />
  </video>
  <p class="text">
    Это не та веб-страница, которую вы ищете
  </p>
  <button mat-raised-button color="accent" class="button" routerLink="/">
    <span>На главную</span>
  </button>
  <div class="overlay"></div>
</div>