<div class="password-change-window-modal">
  <div class="header">
    <h3 class="title">Смена пароля</h3>
    <div class="close-container">
      <div class="close" [mat-dialog-close]>
        <div class="close-icon"></div>
      </div>
    </div>
  </div>
  <form class="form" [formGroup]="formGroup">
    <div class="form-field">
      <input
        matInput
        type='password'
        class="form-input"
        name="formPasssword"
        formControlName="currentPassword"
        placeholder="Текущий пароль *"
        autocomplete="current-password" />
      <mat-error 
        *ngIf="formGroup.controls.currentPassword.hasError('required') && formGroup.controls.currentPassword.touched">
        Текущий пароль не может быть пустым
      </mat-error>
      <mat-error 
        *ngIf="formGroup.controls.currentPassword.hasError('minlength') && formGroup.controls.currentPassword.touched">
        Текущий пароль должен содержать минимум 5 символов
      </mat-error>
    </div>
    <div class="form-field">
      <input
        matInput
        [type]="isPasswordHide ? 'password' : 'text'"
        class="form-input"
        name="formPasssword"
        formControlName="newPassword"
        placeholder="Новый пароль *"
        autocomplete="new-password" />
      <mat-error 
        *ngIf="formGroup.controls.newPassword.hasError('required') && formGroup.controls.newPassword.touched">
        Новый пароль не может быть пустым
      </mat-error>
      <mat-error 
        *ngIf="formGroup.controls.newPassword.hasError('minlength') && formGroup.controls.newPassword.touched">
        Новый пароль должен содержать минимум 5 символов
      </mat-error>
      <button 
        mat-icon-button 
        matSuffix 
        class="password-button"
        (click)="isPasswordHide = !isPasswordHide" 
        [attr.aria-label]="'Hide password'" 
        [attr.aria-pressed]="isPasswordHide">
        <mat-icon>{{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </div>
    <div class="form-field">
      <input
        matInput
        type='password'
        class="form-input"
        name="formPasssword"
        formControlName="newConfirmPassword"
        placeholder="Повтор нового пароля *"
        autocomplete="new-password" />
      <mat-error 
        *ngIf="formGroup.controls.newConfirmPassword.value !== formGroup.controls.newPassword.value
               && formGroup.controls.newConfirmPassword.value.length !== 0">
        Пароли не совпадают
      </mat-error>
    </div>
    <div class="buttons">
      <button mat-flat-button color="accent" class="button" [disabled]="formGroup.invalid || formGroup.disabled" (click)="onChangePassword()">
        <span>Изменить</span>
      </button>
      <button mat-stroked-button color="accent" class="button stroked-button" [mat-dialog-close]>
        <span>Отмена</span>
      </button>
    </div>
  </form>
</div>