<div class="user">
  <p class="back" (click)="goBack()">
    Назад
  </p>
  <section class="main">
    <h2 class="title">Мой профиль</h2>
    <div class="card" [formGroup]="userForm">
      <button 
        mat-icon-button 
        (click)="isEditing = !isEditing" 
        class="pencil-button">
        <div class="pencil-icon"></div>
      </button>
      <div class="card__part">
        <mat-form-field appearance="fill"  class="form-field">
          <mat-label class="form-label">Имя</mat-label>
          <input 
            matInput
            class="form-field__input"
            name="formName"
            formControlName="name"
            autocomplete="off"
            [readonly]="!isEditing" />
          <mat-error 
            class="input-error"
            *ngIf="userForm.controls.name.hasError('required') && userForm.controls.name.touched">
            У тебя рили имени нет?
          </mat-error>
          <mat-error 
            class="input-error"
            *ngIf="userForm.controls.name.hasError('minlength') && userForm.controls.name.touched">
            Твоё имя точно {{ userForm.controls.name.value }}?
          </mat-error>
          <mat-error 
            class="input-error"
            *ngIf="userForm.controls.name.hasError('pattern') && userForm.controls.name.touched">
            У тебя брат C-3PO?
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label class="form-label">Логин</mat-label>
          <input 
            matInput
            class="form-field__input" 
            name="formLogin"
            formControlName="login"
            autocomplete="off"
            [readonly]="!isEditing" />
          <mat-error 
            class="input-error"
            *ngIf="userForm.controls.login.hasError('required') && userForm.controls.login.touched">
            Логин не может быть пустым
          </mat-error>
          <mat-error 
            class="input-error"
            *ngIf="userForm.controls.login.hasError('minlength') && userForm.controls.login.touched">
            Логин должен содержать не менее 3 символов
          </mat-error>
          <mat-error 
            class="input-error"
            *ngIf="userForm.controls.login.hasError('pattern') && userForm.controls.login.touched">
            Логин может состоять только из цифр и латинских букв
          </mat-error>
        </mat-form-field>
        <button mat-stroked-button color="accent" class="stroked-button change-password" *ngIf="isEditing" (click)="onChangePassword()">
          <span>Сменить пароль</span>
        </button>
      </div>
      <div class="card__part">
        <div class="form-field">
          <textarea 
            class="form-input form-textarea" 
            name="formAbout" 
            placeholder="Напишите немного о себе"
            formControlName="about"
            autocomplete="off"
            [readonly]="!isEditing"></textarea>
        </div>
        <button 
          mat-stroked-button 
          color="accent" 
          class="stroked-button"
          [class.disabled-button]="userForm.invalid"
          *ngIf="isEditing" 
          (click)="onSaveUserData()"
          [disabled]="userForm.invalid">
          <span>Сохранить</span>
        </button>
      </div>
    </div>
    <div class="statistics">
      <app-statistic-card *ngFor="let statistic of statistics" [card]="statistic" class="statistic"></app-statistic-card>
    </div>
  </section>
  <section class="favourite" [hidden]="recipes.length == 0">
    <h3 class="favourite__title">Мои рецепты</h3>
    <app-dish-card *ngFor="let recipe of recipes" [card]="recipe" [onOpenDishCard]="openRecipes.bind(this)"></app-dish-card>
  </section>
</div>