.card {
  padding: 24px 24px 32px;
  background: #FFFFFF;
  box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
  border-radius: 24px;
  cursor: default;
  transition: .5s;
}

.card:hover {
  box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.15);
}

.card-title {
  margin: 20px 0 0;
  font: normal bold 24px/30px 'Montserrat', sans-serif;
  color: #25292D;
}

.card-description {
  font: normal normal 18px/30px 'Montserrat', sans-serif;
  color: #4A525A;
}